.booking-form {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 10px;
    border: 1px solid rgba(16, 24, 40, 0.20);

}

.booking-form-input {
    display: flex;
    padding: 18px 337px 18px 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: var(--Inputs, #F7F7F7);
    border: none;
    color: #101828;

    &::placeholder {
        color: rgba(16, 24, 40, 0.60);
    }
}

.booking-form-textarea {

    padding: 18px 329px 76px 18px;

}

.booking-form-button {
    display: flex;
    padding: 16px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 200px;
    background: #E44848;
    border: none;

    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.08px;

    &:hover,
    &:focus {
        background-color: var(--accent-color-hover);


    }


}

.booking-form-title {
    font-size: 20px;
    font-weight: 600;
    color: #101828;

}

.booking-form-text {
    color: #475467;
    font-size: 16px;
    font-weight: 400;
}