.checkbox-title {
  font-size: 20px;
  font-weight: 600;
}

.checkbox-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.checkbox-item {
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  width: 111px;
  height: 95px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.checkbox-label {
  position: relative;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;

}


.checkbox {}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox-container {

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: rgba(16, 24, 40, 0.1);
  border: none;
}

.checked-checkbox {
  border: 1px solid var(--accent-color);
}

.checkbox-icon {
  width: 32px;
  height: 32px;
}

.visible {
  position: absolute;
  visibility: hidden;

}