.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 18, 19, 0.40);
    z-index: 999;
}

.details-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    z-index: 999;
    border-radius: 20px;
    background: #FFF;
    width: 982px;
    height: 720px;

}

.close-btn-icon {
    width: 32px;
    height: 32px;

}

.details-close-button {
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &:hover,
    :focus {
        background-color: transparent;
        border: 3px solid rgba(16, 24, 40, 0.1);
    }
}



body.modal-open {
    overflow: hidden;
}

.details-card-info {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.details-card-title {
    color: #101828;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 125% */
}

.details-card-details {
    display: flex;
    gap: 16px;

}

.details-card-rating-wrapper,
.details-card-location-wrapper {
    display: flex;
    gap: 4px;
    align-items: center;

}

.details-card-location-wrapper>.input-icon {
    stroke: #101828;
}

.details-card-rating-reviews {
    color: #101828;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-decoration-line: underline;
}

.details-card-location {
    color: #101828;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.details-card-price-text {
    color: #101828;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 125% */
}

.details-card-images-list {
    display: flex;
    gap: 16px;
}

.details-card-image {
    width: 290px;
    height: 310px;
    border-radius: 10px;
}

.details-card-description {
    width: 902px;
    color: var(--Gray-600, #475467);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.details-card-link {
    color: #101828;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 120% */
}


.details-card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 400px;
    overflow-y: auto;
}

.details-card-link-wrapper {
    position: relative;
    right: 75%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.details-card-link {
    color: #101828;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    /* 120% */
    &:hover,
    &:focus {
        color: var(--accent-color-hover);
    }

}



.details-card-hr {

    width: 902px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: rgba(16, 24, 40, 0.20);
}