.features {
    display: flex;
    gap: 24px;
}

.vehicle-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.features-details-item {
    display: flex;
    justify-content: space-between;

}

.features-details-text {
    color: #101828;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
}

.features-details-list {
    display: flex;
    gap: 14px;
    justify-content: center;
    flex-direction: column;
}