.filter-form {
    width: 362px;
    display: flex;
    flex-direction: column;

}

.filter-title {
    margin-top: 32px;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 500;
    color: var(--form-text-color);

}

.form-button {
    margin-top: 32px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 60px;

    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    color: var(--button-text-color);
    border-radius: 200px;
    background-color: var(--accent-color);
    width: 173px;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        background-color: var(--accent-color-hover);
    }
}