.filter-form {
    width: 362px;
    display: flex;
    flex-direction: column;

}

.filter-title {
    margin-top: 32px;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 500;
    color: var(--form-text-color);

}