.footer-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  list-style: none;
}

.footer-navigation-link {
  color: var(--footer-text-color);
  font-size: var(--footer-navigation-font-size);
  font-weight: var(--footer-navigation-font-weight);

  &:hover,
  &:focus {
    color: var(--accent-color-hover);
  }
}
