.selection-title {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 600;
}

.selection-list {
  display: flex;
  gap: 10px;
}

.radio-item {
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  width: 112px;
  height: 95px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.radio-label {
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
}

.radio {}


.radio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.radio-icon {
  width: 32px;
  height: 32px;
}

.radio-container {

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checked {
  border: 1px solid var(--accent-color);
}