.favorites-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 44vh;
    display: flex;
    gap: 64px;
    justify-content: center;
    padding: 100px 64px;
}

.favorites-card-text {
    font-size: 40px;
    font-weight: 600;
    color: var(--accent-color);

    animation-name: alternate-reverse;
    animation-duration: 2s;
    animation-iteration-count: infinite;



}

@keyframes alternate-reverse {
    0% {
        color: var(--accent-color);
    }

    100% {
        color: var(--text);
    }
}

.favorites-card {
    width: 980px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.favorites-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.load-more-button {
    margin-top: 50px;
}

.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;

}