@import '~normalize.css';
@import './utils/reset.css';
@import './fonts/fonts-hurricane.css';
@import './fonts/fonts-hurricane.css';
@import './utils/variables.css';
@import './utils/container.css';
@import './components/Logo.css';
@import './components/Navigation.css';
@import './components/Header.css';
@import './components/Contacts.css';
@import './components/Footer.css';
@import './components/SocialMedia.css';


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}