@import '~normalize.css';
@import './fonts/fonts-hurricane.css';
@import './fonts/fonts-inter.css';
@import './utils/container.css';
@import './utils/reset.css';
@import './utils/variables.css';
@import './pages/CatalogPage.css';
@import './pages/FavoritesPage.css';
@import './pages/HomePage.css';
@import './components/BookingForm.css';
@import './components/Button.css';
@import './components/Card.css';
@import './components/Checkbox.css';
@import './components/Contacts.css';
@import './components/Details.css';
/* @import './components/Features.css'; */
@import './components/FiltersForm.css';
@import './components/Footer.css';
@import './components/Header.css';
@import './components/Input.css';
@import './components/Logo.css';
@import './components/Navigation.css';
@import './components/Radio.css';
/* @import './components/Reviews.css'; */
@import './components/SocialMedia.css';

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}